@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;587;600;700&display=swap");

@import "./mixin";
@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 16px;
}
body {
  font-family: "Spline Sans", sans-serif;
  position: relative;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }
  .bg-#{$color} {
    background-color: $val;
  }
}

@each $var in $numbers {
  .grid-col-#{$var} {
    grid-template-columns: repeat($var, 1fr);
  }
}
@each $var in $numbers {
  .grid-col-md-#{$var} {
    @include tablet {
      grid-template-columns: repeat($var, 1fr);
    }
  }
}
@each $var in $numbers {
  .grid-col-sm-#{$var} {
    @include mobile {
      grid-template-columns: repeat($var, 1fr);
    }
  }
}

//animation

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0 40px;
  @include tablet {
    padding: 0 20px;
  }
  @include mobile {
    padding: 0 10px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid {
  display: grid;
}

.input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  &:focus {
    border: 1px solid #af1010;
  }
}

.custom-checkbox {
  @include flex(center, flex-start);
  cursor: pointer;
  &:hover {
    color: $main-color;
  }
  input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
  }
  &__checkmark {
    margin-right: 10px;
    border: 1px solid $main-color;
    height: 15px;
    width: 15px;
    svg {
      transform: scale(0);
      transition: transform 0.3s ease;
      path {
        fill: $main-bg;
      }
    }
  }
  input:checked ~ &__checkmark {
    border: 1px solid $main-color;
    background-color: $main-color;
    color: #fff;
    position: relative;
  }
  input:checked ~ &__checkmark > svg {
    transform: scale(1);
    position: absolute;
    color: #000;
    top: -2px;
    left: -1px;
  }
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #ee8830;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(151, 151, 151);
  @include mobile {
    width: 40px;
    height: 40px;
  }
  svg {
    width: 60px;
    height: 60px;
    fill: rgb(255, 255, 255);
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
}
