.footer {
    background-color: #000000;
    color: rgb(235, 229, 229);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 0 0 40px;
    @include tablet {
        grid-template-columns: 1fr;
        padding: 20px 0 0 20px;
    }
    &__left {
        padding: 60px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__about {
            &__link-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                @include tablet {
                    grid-template-columns: 1fr;
                }
                .link-list {
                    @include flex(flex-start, flex-start);
                    flex-direction: column;
                }
            }
        }
        &__about-2 {
            &__logo {
                width: 100%;
                max-width: 200px;
                margin-bottom: 30px;
                svg {
                    width: 200px;
                    path {
                        fill: #fff;
                    }
                    @include tablet {
                        width: 100px;
                    }
                }
            }
            .link-list {
                @include tablet {
                    @include flex(flex-start, flex-start);
                    flex-direction: column;
                }
                & > * ~ * {
                    margin-left: 20px;
                    @include tablet {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &__right {
        background-image: linear-gradient(315deg, rgb(24, 28, 32), rgb(54, 63, 68));
        padding: 60px 80px 100px 60px;
        @include tablet {
            padding: 60px 20px 100px 20px;
        }
        &__contact {
            margin-bottom: 40px;
            .link-list {
                flex-direction: column;
                @include flex(flex-start, space-between);
            }
        }
        &__social {
            .link-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                @include tablet {
                    grid-template-columns: 1fr;
                    grid-gap: 0;
                }
            }
        }
    }
}
.link-list {
    color: $txt-main-color;
    font-size: 1.1rem;
    font-weight: 300;
    a {
        margin-top: 10px;
        &:hover {
            color: $txt-white-color;
        }
    }
}
.footer-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}
