.post-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba($color: #000000, $alpha: 0.4);
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        background-color: $main-bg;
        width: 100%;
        // position: relative;
        opacity: 0;
        transform: translateY(-250px);
        transition: transform 0.5s ease;
        z-index: 102;
        &__close {
            position: fixed;
            top: 40px;
            right: 40px;
            cursor: pointer;
            z-index: 103;
            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
    &.active &__content {
        opacity: 1;
        transform: translateY(0);
    }
}
